@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*^^^^tailwind^^^^*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  margin: 0;
  background-color: #3f3e54;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.navbar a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

a.active {
  color: #ccc;
}

.content-container {
  margin: 10px;
}
